.contenedor {
    padding: 3% 0 3% 0;
    border-bottom-style: dotted; border-width: 1px;
}

.font {
    font-family: 'Pacifico', cursive;
}

.img {
    margin-right: -20%;
}

.img2 {
    margin-left: -20%;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}