.contenedor {
    /*background: #069;*/
    padding: 3% 0 3% 0;
    border-bottom-style: dotted; border-width: 1px;
}

.contenedor2 {
    margin: 5% 0 3% 0;
    float: left;
    padding: 3% 0 3% 0;
    border-right-style: dotted; border-width: 1px;
    width: 50%;
}

.contenedor3 {
    margin: 5% 0 3% 0;
    float: right;
    padding: 3% 0 3% 0;
    width: 50%;
}

.font {
    font-family: 'Pacifico', cursive;
}

.img {
    margin-right: -20%;
}

.img2 {
    margin-left: -20%;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}